In [19]:
import numpy as np
import pandas as pd

import gurobipy as gp
from gurobipy import GRB

# tested with Python 3.7.0 & Gurobi 9.0

In [20]:
# Parametros

g = 5

# Costos

a = [3, 4.05, 4.05, 3.99, 3.88]
b = [20, 18.07, 15.55, 19.21, 26.18]
c = [100, 98.87, 104,26, 107.21, 95.31]

# Emisiones

d = [2, 3.82, 5.01, 1.10, 3.55]
e = [-5, -4.24, -2.15, -3.99, -6.88]
f = [3, 6.09, 5.69, 6.20, 5.57]

# Potencias

Pmin = [28, 90, 68, 76, 19]
Pmax = [206, 284, 189, 266, 53]

In [21]:
model = gp.Model('Generación Térmica ambiental')
# Variable de desición
potgen = model.addVars(g, vtype=GRB.CONTINUOUS, name="potgen")

In [22]:
# Restricción de potencias

p_min = model.addConstrs((potgen[type] >= Pmin[type])
                              for type in range(g))

p_max = model.addConstrs((potgen[type] <= Pmax[type])
                              for type in range(g))

In [23]:
# Satisfacer la demanda

demanda = model.addConstr(gp.quicksum(potgen[type]  for type in range(g)) >= 400)

In [24]:
# Minimizar costos

costos = gp.quicksum(a[type]*potgen[type]*potgen[type]+b[type]*potgen[type]+c[type]
                    for type in range(g))

emisiones = gp.quicksum(d[type]*potgen[type]*potgen[type]+e[type]*potgen[type]+f[type]
                   for type in range(g))
 
#Restricción de emisiones

r_emisones = model.addConstr(emisiones <= 90000)


model.setObjective(emisiones)

In [25]:
model.write('cgk3_2_END.lp')
model.optimize()

Warning: Q constraint 0 doesn't have a name
Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (win64)
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads
Optimize a model with 11 rows, 5 columns and 15 nonzeros
Model fingerprint: 0x5f055b5a
Model has 5 quadratic objective terms
Model has 1 quadratic constraint
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  QMatrix range    [1e+00, 5e+00]
  QLMatrix range   [2e+00, 7e+00]
  Objective range  [2e+00, 7e+00]
  QObjective range [2e+00, 1e+01]
  Bounds range     [0e+00, 0e+00]
  RHS range        [2e+01, 4e+02]
  QRHS range       [9e+04, 9e+04]
Presolve removed 10 rows and 0 columns
Presolve time: 0.01s
Presolved: 19 rows, 14 columns, 35 nonzeros
Presolved model has 2 second-order cone constraints
Ordering time: 0.00s

Barrier statistics:
 Dense cols : 1
 AA' NZ     : 8.000e+01
 Factor NZ  : 1.920e+02
 Factor Ops : 2.474e+03 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   6.76787488e+04  6.76787488e+04  3.43e+04 2.63e+00  2.74e+04     0s
   1  -3.16243475e+04  2.70034077e+04  4.95e+03 8.66e-01  3.63e+03     0s
   2  -7.14143358e+02 -4.31846284e+03  3.90e+02 4.60e-03  4.96e+02     0s
   3  -5.08786656e+02 -1.48503211e+03  6.73e+01 5.06e-09  9.88e+01     0s
   4  -3.39171430e+02  4.47758871e+02  5.33e+01 1.95e-09  4.48e+01     0s
   5  -1.94286763e+02  1.31182443e+03  4.75e+01 1.48e-09  3.54e+01     0s
   6   5.95399291e+02  2.41371548e+02  3.50e+01 2.58e-09  5.27e+01     0s
   7   6.27617655e+02  2.46689467e+03  3.34e+01 8.98e-10  2.32e+01     0s
   8   7.54343040e+02  3.33690164e+03  3.12e+01 1.05e-09  1.97e+01     0s
   9   1.02734608e+03  3.70095704e+03  2.76e+01 1.86e-09  1.51e+01     0s
  10   1.16413396e+03  3.96315033e+03  2.63e+01 2.20e-09  1.38e+01     0s
  11   1.28148243e+03  4.27790274e+03  2.52e+01 1.25e-08  1.28e+01     0s
  12   1.36514861e+03  4.45719239e+03  2.45e+01 4.05e-08  1.23e+01     0s
  13   1.43062706e+03  4.59238697e+03  2.40e+01 8.24e-08  1.20e+01     0s
  14   1.48891141e+03  4.76640298e+03  2.36e+01 3.34e-06  1.27e+01     0s
  15   1.67220440e+03  4.98311853e+03  2.25e+01 3.47e-06  1.28e+01     0s
  16   2.33287822e+03  5.65631076e+03  1.91e+01 3.19e-06  1.52e+01     0s
  17   3.14683037e+03  6.37396386e+03  1.58e+01 2.50e-06  1.56e+01     0s
  18   3.63886420e+03  7.47162117e+03  1.46e+01 1.83e-06  1.56e+01     0s
  19   3.88121569e+03  8.64942132e+03  1.41e+01 1.42e-06  1.27e+01     0s
  20   4.27809082e+03  9.30969300e+03  1.30e+01 1.19e-06  9.75e+00     0s
  21   4.55035150e+03  9.88735008e+03  1.23e+01 9.49e-07  7.07e+00     0s
  22   4.74066888e+03  1.09191568e+04  1.19e+01 8.37e-07  4.61e+00     0s
  23   5.07366405e+03  1.16111765e+04  1.12e+01 1.06e-06  3.10e+00     0s
  24   5.24616084e+03  1.26410974e+04  1.10e+01 1.08e-05  4.53e+00     0s
  25   5.89061062e+03  1.28598846e+04  1.00e+01 1.15e-05  4.25e+00     0s
  26   6.65859212e+03  1.36096982e+04  9.20e+00 1.11e-05  9.98e+00     0s
  27   9.73398048e+03  1.11989335e+04  6.70e+00 7.61e-06  9.61e+01     0s
  28   1.58992403e+04  1.79043448e+04  4.80e+00 4.18e-06  2.60e+02     0s
  29   3.12109228e+04  3.04009849e+04  2.96e+00 2.31e-06  7.92e+02     0s
  30   4.89293663e+04  4.67360814e+04  1.73e+00 1.30e-06  1.11e+03     0s
  31   5.51777941e+04  5.72206777e+04  1.12e+00 6.47e-07  8.54e+02     0s
  32   5.93253326e+04  6.54656710e+04  7.69e-01 8.76e-07  6.15e+02     0s
  33   6.42089346e+04  7.18206847e+04  5.28e-01 4.13e-06  4.49e+02     0s
  34   6.90581055e+04  7.70312756e+04  3.61e-01 7.46e-06  3.33e+02     0s
  35   7.90614076e+04  8.56305606e+04  1.03e-01 2.51e-05  2.13e+01     0s
  36   8.30774451e+04  8.67258832e+04  4.75e-02 5.44e-04  3.50e+00     0s
  37   8.53438931e+04  8.69258634e+04  2.00e-02 5.56e-03  2.33e+00     0s
  38   8.61035498e+04  8.69825087e+04  1.16e-02 3.89e-03  3.75e+00     0s
  39   8.67109869e+04  8.70740430e+04  4.28e-03 2.73e-05  3.78e-01     0s
  40   8.68156191e+04  8.70846013e+04  3.08e-03 6.91e-05  9.56e-02     0s
  41   8.70905637e+04  8.70888989e+04  2.01e-06 1.86e-04  7.38e-02     0s
  42   8.70895204e+04  8.70893700e+04  7.16e-08 7.06e-06  6.27e-03     0s
  43   8.70893989e+04  8.70893984e+04  7.46e-08 1.28e-05  2.03e-05     0s
  44   8.70893882e+04  8.70893984e+04  5.07e-05 1.79e-05  1.07e-05     0s
  45   8.70893984e+04  8.70893984e+04  1.74e-06 2.69e-04  1.15e-05     0s
  46   8.70910866e+04  8.70893984e+04  8.16e-03 5.72e-04  1.16e-05     0s
  47   8.70894492e+04  8.70893984e+04  2.44e-04 1.23e-03  1.16e-05     0s
  48   8.70879776e+04  8.70893984e+04  6.87e-03 2.66e-04  1.16e-05     0s
  49   8.70887329e+04  8.70893984e+04  3.22e-03 6.30e-04  1.16e-05     0s
  50   8.70911974e+04  8.70893984e+04  8.69e-03 1.71e-05  1.16e-05     0s
  51   8.70890296e+04  8.70893984e+04  1.78e-03 1.89e-05  1.16e-05     0s
  52   8.70868872e+04  8.70893984e+04  1.21e-02 4.07e-05  1.16e-05     0s
  53   8.70907124e+04  8.70893984e+04  6.35e-03 9.61e-05  1.16e-05     0s
  54   8.70893622e+04  8.70893984e+04  1.76e-04 1.49e-04  1.16e-05     0s

Barrier solved model in 54 iterations and 0.08 seconds
Optimal objective 8.70895204e+04

In [38]:
rows = ["Potencia" + str(t) for t in range(g)]
units = pd.DataFrame(columns=range(1), index=rows, data=0.0)

for t in range(g):
            units.loc["Potencia"+str(t)] = potgen[t].x
units

                    0
Potencia0   71.622082
Potencia1   90.000000
Potencia2   68.000000
Potencia3  129.762830
Potencia4   40.615088

In [39]:
rows = ["Costos" + str(t) for t in range(g)]
units = pd.DataFrame(columns=range(1), index=rows, data=0.0)

for t in range(g):
            units.loc["Costos"+str(t)] = a[t]*potgen[t].x*potgen[t].x+b[t]*potgen[t].x+c[t]
units

                    0
Costos0  16921.609415
Costos1  34530.170023
Costos2  19888.600022
Costos3  69703.928566
Costos4   7570.904222

In [40]:
rows = ["Emisiones" + str(t) for t in range(g)]
units = pd.DataFrame(columns=range(1), index=rows, data=0.0)

for t in range(g):
            units.loc["Emisiones"+str(t)] = d[t]*potgen[t].x*potgen[t].x+e[t]*potgen[t].x+f[t]
units

                       0
Emisiones0   9904.334778
Emisiones1  30566.490021
Emisiones2  23025.730026
Emisiones3  18010.677649
Emisiones4   5582.166245